*{
    margin: 0;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFD173; 
    height: 10vh;
}

.barra {
    font-size:x-large;
    font-weight: 600;
    color: rgba(37, 38, 39, 1);
}

.icone-poke img {
    padding-top: 70px;
    max-width: 100px;
}

.site-navigation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.site-navigation ul {
    list-style: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}

.site-navigation ul li a {
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:15px;
    text-decoration: none;

}

.site-navigation ul li a:hover {
    text-decoration:none;
}



#saida{
    font-size:x-large;
    font-weight: 600;
    color: rgba(37, 38, 39, 1);
    padding-top: 40px;
    padding-left: 60px;
}

#header img{
    width: 600px;
    height: 100px;
    padding: 80px 100px 100px 35%;
    text-align: center;
}

.blue-textbox{
    background-color: #B3EFFF; 
    height: 130px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 60%;
}


.blue-textbox p{
    
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}

.blue-textbox h1{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}


.yellow-textbox{
    height: 130px;
    padding-top: 20px;
    margin: 70px auto;
    padding-left: 250px;
}
.yellow-textbox h1{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
    background-color: #FFD173; 
    width: 200px;
    border-radius: 30px;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.yellow-textbox p{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
    width: 1200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.yellow-textbox ul li{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
}



.last-textbox{
    background-color: rgba(84, 194, 219, 1); 
    height: 400px;
    padding-top: 20px;
    border-radius: 10px;
    margin:60px auto;
    width: 60%;
    display: inline-flex;
    margin-left: 20%;
}


.last-textbox p{
    
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
    text-decoration: none;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    width: 400px;
}

.last-textbox h1{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
    text-decoration: none;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    width: 300px;
}

.last-textbox ul li{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:14px;
    width: 250px;
}

.last-textbox img{
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 90px;
  width: 400px;
  height: 300px;
}


footer{
    background-color:#FFD173;
    height: 20vh;
    margin-top: 80px;
}

#rodape{
    display: flex;
}
#rodape img{
  height: 100px;
  width: 90;
  padding-top: 30px;
  padding-left: 30%;
}

#rodape i{
    padding-top: 90px;
    padding-left: 10px;
}

#paragrafos{
    display: block;
    font-family:"Inter", sans-serif;
    color: #252627;
    font-weight: 900;
    font-size:12px;
    padding-top: 90px;
    padding-left: 60px;
    padding-right: 60px;
    
}