*{
    margin: 0;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFD173; 
    height: 10vh;
}

.barra {
    font-size:x-large;
    font-weight: 600;
    color: rgba(37, 38, 39, 1);
}

.icone-poke img {
    padding-top: 70px;
    max-width: 100px;
}

.site-navigation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.site-navigation ul {
    list-style: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}

.site-navigation ul li a {
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:15px;
    text-decoration: none;

}

.site-navigation ul li a:hover {
    text-decoration:none;
}


.grid-container{
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 460px 470px 470px;
    grid-template-rows: 2fr 0.5fr 2fr;
    position: relative;
}

.login-text{
    background-color: beige;
    position: absolute;
    z-index: 1;

}

.overlay {
    position: absolute;
    width: 800px;
    height: 1200px;
    border-radius: 10px;
    background-color: rgba(250, 247, 242, 1);
    top: 900px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#saida{
    font-size:x-large;
    font-weight: 600;
    color: rgba(37, 38, 39, 1);
    padding-top: 60px;
    padding-left: 60px;
}

.overlay img{
    padding-top: 60px;
    padding-left: 200px;
}

#informaçoes{
    padding-left: 150px;
    padding-top: 90px;
    }

    #informaçoes p{
        font-family:"Inter", sans-serif;
        color: rgba(37, 38, 39, 1);
        font-weight: 900;
        font-size:13px;
        padding-left: 20px;

    }
#informaçoes input{
    text-decoration: none;
    border: 0;
    width: 500px;
    height: 30px;
    border-radius: 10px;
   background-color: rgba(84, 194, 219, 1);
}    

.textbox-contato{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:12px;
    padding-top: 20px;

}

#placeholder-text::placeholder{
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:12px;
    padding-left: 20px;
}


.button{
    margin-top: 100px;
}

.button-logar {
    background-color: rgba(121, 192, 89, 1);
    border: none;
    margin-left: 350px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:12px;
    text-decoration: none;
    text-align: center;
    width: 150px;
}

.button-logar a{
    text-decoration: none;
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);

}

.button p{
    text-decoration: none;
    font-family:"Inter", sans-serif;
    color: rgba(37, 38, 39, 1);
    font-weight: 900;
    font-size:12px;
    padding-left: 320px;
    padding-bottom: 20px;
}

footer{
    background-color:#FFD173;
    height: 20vh;
    margin-top: 80px;
}

#rodape{
    display: flex;
}
#rodape img{
  height: 100px;
  width: 90;
  padding-top: 30px;
  padding-left: 30%;
}

#rodape i{
    padding-top: 90px;
    padding-left: 10px;
}

#paragrafos{
    display: block;
    font-family:"Inter", sans-serif;
    color: #252627;
    font-weight: 900;
    font-size:12px;
    padding-top: 90px;
    padding-left: 60px;
    padding-right: 60px;
    
}